.container {
  padding: 0 16px;
  max-width: 768px;
  margin: 0 auto;
}

.title {
  margin: 32px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(110px, 140px));
  grid-template-rows: 60px;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: 2px solid #585858;

    &:first-child {
      border-radius: 4px 0 0 4px;
      border-right-width: 1px;
    }

    &:last-child {
      border-left-width: 1px;
      border-radius: 0 4px 4px 0;
    }

    &:nth-child(even) {
      background-color: #585858;
    }
  }
}
