.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.switchBtn {
  all: unset;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  color: var(--accent);
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  &[data-active] {
    font-weight: bold;
    color: var(--background);
    background-color: var(--accent);
  }
}
